{% extends "base.html" %}

{% block conteudo %}

<h2>Início</h2>

<p>Projeto de Monitoramento e Controle com Python, Flask e MySQL.</p>

<ul>
    <li><a href="/pacientes">Ver pacientes cadastrados</a></li>
    <li><a href="/pacientes/novo">Cadastrar novo paciente</a></li>
    <li><a href="/cuidadores">Ver cuidadores cadastrados</a></li>
    <li><a href="/medicoes">Ver medições cadastradas</a></li>
    <li><a href="/medicamentos">Ver medicamentos cadastrados</a></li>
    <li><a href="/compromissos">Ver compromissos cadastrados</a></li>
</ul>

{% endblock %}