{% extends "base.html" %}

{% block conteudo %}

<h2>Pacientes Cadastrados</h2>

<p>
    <a href="/pacientes/novo">Cadastrar novo paciente</a>
</p>

<table border="1" cellpadding="8">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Data de Nascimento</th>
            <th>Telefone</th>
            <th>E-mail</th>
        </tr>
    </thead>

    <tbody>
        {% for paciente in pacientes %}
        <tr>
            <td>{{ paciente.id_paciente }}</td>
            <td>{{ paciente.nome }}</td>
            <td>{{ paciente.data_nascimento }}</td>
            <td>{{ paciente.telefone }}</td>
            <td>{{ paciente.email }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}